/* Core */
[data-mw],
.mw {
  opacity: 0;
}

.mw.--v {
  opacity: 1;
}

.mw .mw-w {
  --mw-offset-sanitized: calc(var(--mw-offset) * 1px);
  --mw-offset-sanitized-negative: calc(-1 * var(--mw-offset-sanitized));
  white-space: nowrap;
  display: inline-flex;
  user-select: none
}

.mw .mw-w:not(:last-child) {
  margin-right: calc(var(--mw-word-spacing) * 1px);
}

.mw .mw-l {
  position: relative;
  display: inline-block;
  transition-duration: var(--mw-duration);
  transition-delay: calc(var(--mw-delay) * var(--mw-w));
}

/* Transitions */
.mw.fadeIn .mw-l {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-out;
  will-chage: opacity;
}

.mw.slideInLeft .mw-l {
  transform: translateX(var(--mw-offset-sanitized-negative));
}

.mw.slideInRight .mw-l {
  transform: translateX(var(--mw-offset-sanitized));
}

.mw.slideInTop .mw-l,
.mw.revealInTop .mw-l {
  transform: translateY(var(--mw-offset-sanitized-negative));
}

.mw.slideInBottom .mw-l,
.mw.revealInBottom .mw-l {
  transform: translateY(var(--mw-offset-sanitized));
}

.mw.slideInTop .mw-l,
.mw.slideInBottom .mw-l,
.mw.slideInLeft .mw-l,
.mw.slideInRight .mw-l,
.mw.revealInTop .mw-l,
.mw.revealInBottom .mw-l {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  will-chage: opacity, transform;
}

.mw.fadeIn.--v .mw-l,
.mw.slideInTop.--v .mw-l,
.mw.slideInBottom.--v .mw-l,
.mw.slideInLeft.--v .mw-l,
.mw.slideInRight.--v .mw-l,
.mw.revealInTop.--v .mw-l,
.mw.revealInBottom.--v .mw-l {
  opacity: 1;
}

.mw.slideInTop.--v .mw-l,
.mw.slideInBottom.--v .mw-l,
.mw.revealInTop.--v .mw-l,
.mw.revealInBottom.--v .mw-l {
  transform: translateY(0);
}

.mw.slideInLeft.--v .mw-l,
.mw.slideInRight.--v .mw-l {
  transform: translateX(0);
}

.mw.revealInTop.--v .mw-w,
.mw.revealInBottom.--v .mw-w {
  overflow: hidden;
}
