/* Core */
[data-mw],
.mw {
  opacity: 0;
}

.mw.--visible {
  opacity: 1;
}

.mw .mw-word {
  white-space: nowrap;
  display: inline-flex;
}

.mw .mw-word:not(:last-child) {
  margin-right: calc(var(--mw-word-spacing) * 1px);
}

.mw .mw-letter {
  position: relative;
  display: inline-block;
  transition-duration: var(--mw-duration);
  transition-delay: calc(var(--mw-delay) * var(--mw-w));
}

/* Transitions */
.mw.fadeIn .mw-letter {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-out;
  will-chage: opacity;
}

.mw.fadeIn.--visible .mw-letter {
  opacity: 1;
}

.mw.slideInTop .mw-letter,
.mw.slideInBottom .mw-letter,
.mw.slideInLeft .mw-letter,
.mw.slideInRight .mw-letter,
.mw.revealInTop .mw-letter,
.mw.revealInBottom .mw-letter {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  will-chage: opacity, transform;
}

.mw.slideInTop.--visible .mw-letter,
.mw.slideInBottom.--visible .mw-letter,
.mw.slideInLeft.--visible .mw-letter,
.mw.slideInRight.--visible .mw-letter,
.mw.revealInTop.--visible .mw-letter,
.mw.revealInBottom.--visible .mw-letter {
  opacity: 1;
}

.mw.slideInTop .mw-letter {
  transform: translateY(-20px);
}

.mw.slideInBottom .mw-letter {
  transform: translateY(20px);
}

.mw.slideInTop.--visible .mw-letter,
.mw.slideInBottom.--visible .mw-letter,
.mw.revealInTop.--visible .mw-letter,
.mw.revealInBottom.--visible .mw-letter {
  transform: translateY(0);
}

.mw.slideInLeft .mw-letter {
  transform: translateX(-20px);
}

.mw.slideInRight .mw-letter {
  transform: translateX(20px);
}

.mw.slideInLeft.--visible .mw-letter,
.mw.slideInRight.--visible .mw-letter {
  transform: translateX(0);
}

.mw.revealInTop.--visible .mw-word,
.mw.revealInBottom.--visible .mw-word {
  overflow: hidden;
}

.mw.revealInTop .mw-letter {
  transform: translateY(-40px);
}

.mw.revealInBottom .mw-letter {
  transform: translateY(40px);
}
