@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
}

body {
  background: #0D1117;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  color: #E8E8E8;
}

header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

main {
  position: relative;
  padding: 0 32px 32px;
}

select {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 8px;
}

pre {
  position: absolute;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
  color: #0095D0;
  background-color: #0b0d1afa;
  line-height: .5;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
}

pre code {
  font: normal 12px Consolas, Monaco, monospace;
}

pre::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

pre::-webkit-scrollbar-button:start:decrement,
pre::-webkit-scrollbar-button:end:increment {
  background-color: transparent;
  display: none;
}

pre::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, .3);
}

pre::-webkit-scrollbar-track-piece:vertical:start {
  border-radius: 4px 4px 0 0;
}

pre::-webkit-scrollbar-track-piece:vertical:end {
  border-radius: 0 0 4px 4px;
}

pre::-webkit-scrollbar-track-piece:horizontal:start {
  border-radius: 4px 0 0 4px;
}

pre::-webkit-scrollbar-track-piece:horizontal:end {
  border-radius: 0 4px 4px 0;
}

pre::-webkit-scrollbar-thumb:vertical,
pre::-webkit-scrollbar-thumb:horizontal {
  background-color: #1a1f40fa;
  border-radius: 4px;
  display: block;
  height: 48px;
  transition: background-color 500ms ease-in-out;
}

.highlight {
  color: #0095D0;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 12px 18px;
  border-radius: 50px;
  background-color: #0095D0;
  color: #E8E8E8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  user-select: none;
  outline: none;
  transition: background-color 500ms ease-in-out;
}

.btn:hover {
  background-color: #045879;
}

.btn-cta {
  position: absolute;
  right: 20px;
  bottom: 20px;
  min-width: 100px;
}

/*
--------------------
Header
*/

.header__logo {
  width: 330px;
  display: block;
  margin: 0 auto
}

.header__badges {
  position: absolute;
  right: 20px;
  top: 20px;
}

.header__install {
  padding: 22px 36px;
  margin-top: 24px;
  margin-bottom: 40px;
}

/*
--------------------
Example Options
*/

.ui-options {
  display: flex;
  margin-bottom: 16px;
}

.ui-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
}

.ui-option:not(:last-child) {
  margin-right: 10px;
}

.ui-option label {
  display: block;
  margin-bottom: 5px;
}

/*
--------------------
Example wrapper
*/

.ui-example-container {
  position: relative;
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
  background-color: black;
}

.ui-example-container:not(:last-child) {
  margin-bottom: 24px;
}

.ui-example-container__heading {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 8px;
}

.ui-example-container__btn-code {
  cursor: pointer;
  color: grey;
  transition: color 200ms ease-in-out;
  text-decoration: none;
}

.ui-example-container__btn-code:hover {
  color: #E8E8E8;
}

.ui-example-container__btn-code:before {
  content: 'SHOW CODE';
}

.ui-example-container__btn-code.active:before {
  content: 'HIDE CODE';
}

.ui-example-container__example {
  position: relative;
  padding: 20px;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #040507;
}

.ui-example-container__code {
  visibility: hidden;
  opacity: 0;
  padding: 0 24px;
}

.ui-example-container__code.active {
  visibility: visible;
  opacity: 1;
}
